<app-admin-navbar></app-admin-navbar>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Usuario</th>
      <th scope="col">Ruta</th>
      <th scope="col">Hora de viaje</th>
      <th scope="col">fecha de viaje</th>
      <th scope="col">asientos reservados</th>
      <th scope="col">chofer</th>
      <th scope="col">autobus</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><td>
      <td></td>
      <td></td>
    </table>
