<div class="wrapper">
  <div class="body">
    <img src="../../assets/img/login.png" alt="img logo" class="logo" />
    <h1>registro</h1>
    <div class="form-floating mb-2">
      <input type="text" class="form-control" placeholder="ingrese el usuario" required>
      <label >usuario</label>
    </div>
    <div class="form-floating mb-2">
      <input type="password" class="form-control" placeholder="ingrese la clave" required>
      <label >contraseña</label>
    </div>
    <div class="form-floating mb-2">
      <input type="text" class="form-control" placeholder="ingrese la clave" required>
      <label >Nombre</label>
    </div>
    <div class="form-floating mb-2">
      <input type="text" class="form-control" placeholder="ingrese la clave" required>
      <label >Apellido</label>
    </div>
    <div class="form-floating mb-2">
      <input type="email" class="form-control" placeholder="ingrese el correo" required>
      <label >Email address</label>
    </div>
    <div class="form-floating ">
      <input type="text" class="form-control" placeholder="ingrese el nombre" required>
      <label >cedula</label>
    </div>
    <div class="d-grid gap-2">
      <button class="btn btn-primary btn-lg" type="button" (click)="registrar()">registrar</button>
    </div>
    <p >volver <a routerLink="/login"> login</a></p>
  </div>
</div>

