
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url('../../../assets/img/bus.jpeg')  ;
  background-repeat:  no-repeat ;
  background-position: center;
  background-size: cover;


}

.logo{
  height: 130px;
  margin-bottom: 10px;
}
.body{
  max-width: 400px;
  width: 100%;
  text-align: center;
 background-color: aliceblue;
}
.form-floating{
  margin: 25px;
}
.btn{
  margin: 25px ;
}
p{
  margin-top: 3px;
}
