<app-admin-navbar></app-admin-navbar>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Cedula</th>
      <th scope="col">Categoria de la licencia</th>
      <th scope="col">fecha de vencimiento de la liciencia</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><td>
      <td></td>
      <td></td>
    </table>
